<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>NOMON HOME | {% block title %}Relojes{% endblock %}</title>


    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('bundles/frontend/images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/frontend/images/apple-touch-icon.png')  }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/frontend/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/frontend/images/apple-touch-icon-114x114.png') }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/frontend/content/bootstrap.css') }}" rel="stylesheet">

    <!-- Tipo icono -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/icons.css') }}">

    <!-- Plugins -->
    <!-- link href="content/font-awesome.css" rel="stylesheet">
    <link href="content/font-awesome.min.css" rel="stylesheet" -->
    <link href="{{ asset('bundles/frontend/content/et-line-font.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/content/simpletextrotator.css' ) }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/content/magnific-popup.css' ) }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/content/owl.css' ) }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/content/superslides.css' ) }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/content/vertical.css' ) }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/content/animate.css' ) }}" rel="stylesheet">

    <!-- Template core CSS -->
    <link href="{{ asset('bundles/frontend/content/style.css') }}" rel="stylesheet">
    <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
    <script style="" src="{{ asset('bundles/frontend/content/common.js')}}" charset="UTF-8" type="text/javascript"></script>
    <script src="{{ asset('bundles/frontend/content/util.js')}}" charset="UTF-8" type="text/javascript"></script>
    <script src="{{ asset('bundles/frontend/content/stats.js' ) }}" charset="UTF-8" type="text/javascript"></script>
    <script src="{{ asset('bundles/frontend/content/AuthenticationService.js' ) }}" charset="UTF-8" type="text/javascript"></script>

    <link href="{{ asset('bundles/frontend/fancybox/jquery.fancybox.css?v=2.1.5') }}" rel="stylesheet">

    <link href="{{ asset('bundles/frontend/content/nomon.css') }}" rel="stylesheet">
</head>
<body>
<!-- PRELOADER -->
<div style="display: none;" class="page-loader">
    <div style="display: none;" class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->

<!-- WRAPPER -->
<div class="wrapper">
    <div style="position: fixed; right: 0; left: 0; z-index: 999999;" id="selector-idiomas">
        <div class="container">
            <div style="float: right; font-size: 11px; margin-top: 5px;">
                <a style="margin-right: 5px" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'es'})) }}">ES </a>
                <span>|</span>
                <a style="margin-left: 5px" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}"> EN </a>
            </div>
        </div>
    </div>
    {{ render(controller(
    'FrontendBundle:Home:menu'
    )) }}
    {% block content %}
    {% endblock %}
    {{ render(controller(
    'FrontendBundle:Frontend:footer'
    )) }}
</div>

<!-- SCROLLTOP -->
<div style="display: none;" class="scroll-up">
    <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>

<!-- Javascript files -->
<script src="{{ asset('bundles/frontend/content/jquery-2.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/bootstrap.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery_003.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery_006.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery_007.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/owl.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery_002.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/imagesloaded.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/isotope.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/packery-mode.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/appear.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery_005.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/wow.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jqBootstrapValidation.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/jquery_004.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/js.js')}}"></script><script src="{{ asset('bundles/frontend/content/main.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/gmaps.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/contact.js')}}"></script>
<script src="{{ asset('bundles/frontend/content/custom.js')}}"></script>

<script src="{{ asset('bundles/frontend/fancybox/jquery.fancybox.pack.js?v=2.1.5')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

{% block javascripts %}
{% endblock %}
</body>
</html>

