{% extends 'FrontendBundle:Home:base.html.twig' %}
{% block title %} {{ 'nomon.title.homeindex' | trans }} {% endblock %}
{% block content %}

    <!-- SLIDER -->
    {% if oBanner.url is not null %}
        {{ oBanner.url | raw }}
    {% endif %}
    <section style="background-image: url('{{ asset( oBanner.banner.webpath) }}'); background-position: 50% 0px; height: 951px;" id="hero" class="module-hero module-parallax module-full-height bg-film" data-background="{{ asset( oBanner.banner.webpath) }}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h5 class="mh-line-size-4 font-alt m-b-50">{{ oBanner.title1 | raw }}</h5>
                <h1 class="mh-line-size-1 font-alt m-b-60">{{ oBanner.title2 | raw }}</h1>
                <h5 class="mh-line-size-5 font-alt m-b-50">{{ oBanner.title3 | raw }}</h5>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    {% if oBanner.url is not null %}
        </a>
    {% endif %}
    <!-- /SLIDER -->

    <!-- ABOUT -->
    <section class="module">

        <div class="container">

            <!-- MODULE TITLE -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">NOMON HOME</h2>
                    <div class="module-subtitle font-serif">
                        <p>{{ 'nomon.nomonhome.text' | trans | raw }}</p>
                    </div>
                </div>
            </div>

            <hr class="divider"><!-- DIVIDER -->
            <section class="module">
                <!-- MODULE TITLE -->
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">{{ 'nomon.nomonhome.collections' | trans }}</h2>
                    </div>
                </div>
                <!-- /MODULE TITLE -->

                <div class="row multi-columns-row">

                    {# for oHomeModel in aHomeModels %}
                    <!-- POST -->
                    <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                        <div class="post">
                            <div class="post-media">
                                <a href="{{ path('frontend_homemodel_view', { 'sHomeModel' : oHomeModel.slug } ) }}">
                                    <img src="{{ asset( oHomeModel.banner.webpath ) }}" alt="">
                                </a>
                            </div>
                            <div class="post-header">
                                <h5 class="post-title font-alt">
                                    <a href="{{ path('frontend_homemodel_view', { 'sHomeModel' : oHomeModel.slug } ) }}">{{ oHomeModel.name }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- /POST -->
                    {% endfor #}

                    {% for oCollection in aCollections %}
                    <!-- POST -->
                    <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                        <div class="post">
                            <div class="post-media">
                                <img src="{{ asset( oCollection.image.webpath )}}" alt="">
                            </div>
                            <div class="post-header">
                                <h5 class="post-title font-alt">
                                    {{ oCollection.name }}
                                </h5>
                            </div>
                            <div class="post-meta font-alt">
                                {% for oModel in oCollection.models %}
                                    <a href="{{ path('frontend_homemodel_view', { 'sHomeModel' : oModel.slug }) }}">{{ oModel.name  }}</a> {% if not loop.last %}/{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- /POST -->
                    {% endfor %}
                    {% if oNovedadesCollection is not null%}
                        <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                            <div class="post">
                                <div class="post-media">
                                    <img src="{{ asset( oNovedadesCollection.image.webpath )}}" alt="">
                                </div>
                                <div class="post-header">
                                    <h5 class="post-title font-alt">
                                        {{ oNovedadesCollection.name }}
                                    </h5>
                                </div>
                                <div class="post-meta font-alt">
                                    {% for oModel in oNovedadesCollectionModels %}
                                        <a href="{{ path('frontend_homemodel_view', { 'sHomeModel' : oModel.slug }) }}">{{ oModel.name  }}</a> {% if not loop.last %}/{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </section>
            <!-- BLOG 3 COLUMN -->
        </div>

    </section>
    <!-- /ABOUT -->

    <hr class="divider"><!-- DIVIDER -->
    <!-- HERO -->
    <a href="{{ path('frontend_frontend_index') }}">
        <section style="background-image: url('{{ asset(oClocksParallax.banner.webpath) }}'); height: 350px;" class="module module-parallax bg-dark-30" data-background="{{ asset(oClocksParallax.banner.webpath) }}">

            <!-- HERO TEXT -->
            <div class="container" style="margin-top: 7%;">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="mh-line-size-3 font-alt m-b-20">{{ oClocksParallax.title }}</h1>
                        <h5 class="mh-line-size-4 font-alt">{{ oClocksParallax.slogan }}</h5>
                    </div>
                </div>

            </div>
            <!-- /HERO TEXT -->

        </section>
    </a>
    <!-- /HERO -->
{% endblock %}
