<!-- NAVIGATION -->
<nav class="navbar navbar-custom navbar-fixed-top navbar-transparent">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- YOU LOGO HERE -->
            <a class="navbar-brand" href="{{ path( 'frontend_home_index' ) }}">
                <!-- IMAGE OR SIMPLE TEXT -->
                <img class="dark-logo" src="{{ asset('bundles/frontend/images/logonomon_black.png')}}" alt="" width="95">
                <img class="light-logo" src="{{ asset('bundles/frontend/images/logonomon_white.png')}}" alt="" width="95">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">NOMON WORLD</a>
                    <ul class="dropdown-menu" role="menu">

                        <li class="dropdown">
                            <a href="{{ path('frontend_page_view', { 'sSlug' : 'home-saber-hacer' }) }}">{{ 'nomon.menu.saberhacer' | trans }}</a>
                        </li>
                        
                        {#
                        <li class="dropdown">
                            <a href="{{ path('frontend_distributor_list') }}">{{ 'nomon.menu.distributors' | trans }}</a>
                        </li>

                        <li class="dropdown">
                            <a href="{{ path('frontend_page_view', { 'sSlug' : 'nomon-friends' }) }}">NOMON & FRIENDS</a>
                        </li>
                        #}

                        <li class="dropdown">
                            <a href="{{ path('frontend_page_view', { 'sSlug' : 'home-customer-service' }) }}">CUSTOMER SERVICE</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ path("frontend_homecollection_list") }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'nomon.menu.collections' | trans }}</a>
                    <ul class="dropdown-menu" role="menu">
                        {# for oHomeModel in aHomeModels %}
                        <li class="dropdown">
                            <a href="{{ path('frontend_homemodel_view', { 'sHomeModel' : oHomeModel.slug }) }}" >{{ oHomeModel.name }}</a>
                        </li>
                        {% endfor #}
                        {% if aMenuNovedadesModels | length > 0 %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ oMenuNovedadesCollection.name }}</a>
                                <ul class="dropdown-menu">
                                    {% for oModel in aMenuNovedadesModels %}
                                        <li><a href="{{ path('frontend_homemodel_view',{ 'sHomeModel' : oModel.slug }) }}">{{ oModel.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% for oCollection in aCollection %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ oCollection.name }}</a>
                                <ul class="dropdown-menu">
                                    {% for oModel in oCollection.models %}
                                        <li><a href="{{ path('frontend_homemodel_view',{ 'sHomeModel' : oModel.slug }) }}">{{ oModel.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}

                    </ul>
                </li>

                <li>
                    <a href="{{ path('frontend_frontend_index') }}" style="font-weight:bold">NOMON CLOCKS</a>
                </li>

                <li><a href="{{ path('frontend_frontend_contact') }}">{{ 'nomon.menu.contact' | trans }}</a></li>

            </ul>
        </div>

    </div>

</nav>
<!-- /NAVIGATION -->