{% import 'MediaBundle:Gallery:gallery.html.twig' as gallery %}
{% extends 'BackendBundle:Backend:base.html.twig' %}


{% block contenido -%}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Banners
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
                        <li class="active">Pruebas</li>
        </ol>
    </section>



    <!-- Main content -->
    <section class="content">

        {% include 'BaseBundle:Base:flash.html.twig' -%}

        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">Listado de Banners</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <div class="box-body">

                <table id="tabla-listado" class="table table-hover">
                    <thead>
                    <tr>
                            <th>Id</th>
                            <th>Name</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for oBanner in aBanners %}
                        <tr>
                                <td>

                                    <a href="{{ path('backend_banner_view', { nBannerId: oBanner.id }) }}">{{  oBanner.id }}</a>

                                </td>
                                <td>

                                    {{  oBanner.name }}

                                </td>
                                <td>
    
        <a href="{{ path('backend_banner_view', { 'nBannerId':  oBanner.id }) }}" class="btn  btn-success  btn-xs"> <i class="fa fa-eye"></i> Ver</a>

    
    
    
    
    
        <a href="{{ path('backend_banner_edit', { 'nBannerId':  oBanner.id }) }}" class="btn  btn-warning  btn-xs"><i class="fa fa-pencil"></i> Editar</a>

    
    
    
    
    
        <a href="#" url="{{ path('backend_banner_delete', { 'nBannerId':  oBanner.id }) }}" class="btn  btn-danger  btn-xs delete-button"><i class="fa fa-times"></i> Eliminar</a>

    



                                </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>

            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div class="modal fade" id="delete_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar el objeto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="confirm-button" href="#">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#tabla-listado').DataTable({
                responsive: true,
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            $( ".delete-button" ).click(function() {
                $('#delete_confirm').modal();
                $("#confirm-button").attr( "href", $(this).attr('url') )
            });

        });
    </script>
{% endblock %}
