{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ oPage.title }} {% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url( {{ asset( oPage.banner.webpath ) }} );" class="module module-parallax bg-dark-30" data-background="{{ asset( oPage.banner.webpath ) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">NOMON CULTURE</h1>
                <h5 class="mh-line-size-4 font-alt">{{ oPage.title | upper }}</h5>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- ABOUT -->
<section class="module">

    <div class="container">

        <div class="row">

            {% if oPage.col2 is not null %}
                <!-- ABOUT  -->
                <div class="col-sm-{{ oPage.col1size }} text-justify">
                    {{ oPage.col1 | raw }}
                </div>
                <!-- /ABOUT  -->

                <!-- HECHO A MANO -->
                <div class="col-sm-{{ oPage.col2size }} text-justify">
                    {{ oPage.col2 | raw }}
                </div>
                <!-- /HECHO A MANO -->
            {% else %}
                <!-- DESIGNER -->
                <div class="col-sm-12 text-justify">
                    {{ oPage.col1 | raw }}
                </div>
                <!-- /DESIGNER -->
            {% endif %}

        </div>

    </div>

</section>

<!-- /ABOUT -->
{% if oPage.isVideo %}
    {% if oPage.videoParallax is not null %}
        <!-- COUNTERS -->
        <section style="height: 400px;" class="module module-video bg-dark" data-background="{{ oPage.imageParallax.webpath }}">

            <div style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 1; transition-property: opacity; transition-duration: 2000ms;" id="wrapper_mbYTP_video_1441722771889" class="mbYTP_wrapper">
                <iframe width="560" height="315" src="{{ oPage.videoParallax }}" frameborder="0" allowfullscreen autoPlay:true></iframe>
                {#<div class="YTPOverlay" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div>#}
            </div>


            <!-- YOUTUBE VIDEO-->
            <div style="display: yes; position: relative; background-image: none;" id="video_1441722771889" class="video-player mb_YTPlayer isMuted" data-property="{videoURL:'{{ oPage.videoParallax }}', containment:'.module-video', quality:'large', startAt:0, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}">
            </div>
            <!-- /YOUTUBE VIDEO-->

        </section>
        <!-- /COUNTERS -->
    {% endif %}
{% else %}
    {% if oPage.imageParallax is not null %}
        {% if oPage.imageParallax.webpath is not null %}
            <!-- COUNTERS -->
            <section style="height: 400px; background-size: 100%; background-position: center;" class="module module-video bg-dark" data-background="{{ asset(oPage.imageParallax.webpath) }}">

            </section>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}