{% import 'MediaBundle:Gallery:gallery.html.twig' as gallery %}
{% extends 'BackendBundle:Backend:base.html.twig' %}

{% block contenido -%}
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Crear HomeModel
                <small>Añade un nuevo elemento al sistema</small>
            </h1>
            <ol class="breadcrumb">
                                <li><a href="{{ path('backend_homemodel_index') }}">HomeModels</a></li>
                <li class="active">Crear HomeModel</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            {% include 'BaseBundle:Base:flash.html.twig' -%}

            <div class="row">
                <div class="col-md-6">

                    <!-- Default box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Crear HomeModel</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Esconder"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Eliminar"><i class="fa fa-times"></i></button>
                            </div>
                        </div>

                        <div class="box-body">
                            {{ form(oForm, {'attr': {'id': 'homemodel-create'}} ) }}
                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <a href="{{ path('backend_homemodel_index') }}" class="btn btn-default">Cancelar</a>
                            <button type="submit" id="bSaveButton" class="btn btn-primary pull-right">Guardar</button>
                        </div>
                    </div><!-- /.box -->

                </div>
            </div>

        </section><!-- /.content -->

    </div><!-- /.content-wrapper -->
{% endblock %}


{% block javascripts -%}
    <script>
        $(document).ready(function() {
            $( "#bSaveButton" ).click(function() {
                $('#homemodel-create' ).submit();
            });

            $(".textarea").wysihtml5({

                "toolbar": {
                    "image": false,
                    "html" : true,
                    "blockquote": false,
                    "link": false
                },
                "locale": 'es-ES'

            });

        });
    </script>
{% endblock %}
