{% import 'MediaBundle:Gallery:gallery.html.twig' as gallery %}
{% import 'MediaBundle:Folder:folder.html.twig' as folder %}
{% extends 'BackendBundle:Backend:base.html.twig' %}

{% block contenido -%}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            HomeModel
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
                        <li ><a href="{{ path('backend_homemodel_index') }}">HomeModels</a></li>
            <li class="active">Ver HomeModel</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'BaseBundle:Base:flash.html.twig' -%}

        <div class="row">
            <div class="col-md-6">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ver HomeModel</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Esconder"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Eliminar"><i class="fa fa-times"></i></button>
                        </div>
                    </div>

                    <div class="box-body">                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" class="form-control" placeholder="" disabled="" value="{{ oHomeModel.id }}">
                            </div>                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="" disabled="" value="{{ oHomeModel.name }}">
                            </div>                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" placeholder="" disabled="" value="{{ oHomeModel.description }}">
                            </div>                            <div class="form-group">
                                <label>Numorder</label>
                                <input type="text" class="form-control" placeholder="" disabled="" value="{{ oHomeModel.numOrder }}">
                            </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <a href="{{ path('backend_homemodel_index') }}" class="btn btn-default">Volver al Listado</a>
                        <a href="{{ path('backend_homemodel_edit', { 'nHomeModelId':  oHomeModel.id }) }}"  class="btn btn-primary pull-right">Editar</a>
                    </div>
                </div><!-- /.box -->

            </div>
            <div class="col-md-6">
                {{ gallery.render(oHomeModel) }}
                {{ folder.render(oHomeModel) }}
            </div>
        </div>

    </section><!-- /.content -->

</div><!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    {{ gallery.javascripts(oHomeModel) }}
    {{ folder.javascripts(oHomeModel) }}
{% endblock %}
