{% extends 'BackendBundle:Backend:base.html.twig' %}

{% block contenido %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                NOMON
                <small>Dashboard</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Dashboard</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Cerrar"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                
                    <div class="row">
                    
                         <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aCollections | length }}</h3>

                              <p>Colecciones</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-clone"></i>
                            </div>
                            <a href="{{ path('backend_collection_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aModels | length }}</h3>

                              <p>Modelos</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                            <a href="{{ path('backend_model_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aProjects | length }}</h3>

                              <p>Proyectos</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-cog"></i>
                            </div>
                            <a href="{{ path('backend_project_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aCategories | length }}</h3>

                              <p>Categorias Proyectos</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-cogs"></i>
                            </div>
                            <a href="{{ path('backend_categoryproject_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aDistributors | length }}</h3>

                              <p>Distribuidores</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-truck"></i>
                            </div>
                            <a href="{{ path('backend_distributor_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aCollaborators | length }}</h3>

                              <p>Colaboradores</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-group"></i>
                            </div>
                            <a href="{{ path('backend_collaborator_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aHomeModels | length }}</h3>

                              <p>Modelos Home</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-home"></i>
                            </div>
                            <a href="{{ path('backend_homemodel_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aPages | length }}</h3>

                              <p>Páginas</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-file-word-o"></i>
                            </div>
                            <a href="{{ path('backend_page_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aSections | length }}</h3>

                              <p>Secciones</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-th-list"></i>
                            </div>
                            <a href="{{ path('backend_section_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aParallax | length }}</h3>

                              <p>Parallax</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-file-image-o"></i>
                            </div>
                            <a href="{{ path('backend_parallax_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ aBanners | length }}</h3>

                              <p>Banners</p>
                            </div>
                            <div class="icon">
                              <i class="fa fa-circle"></i>
                            </div>
                            <a href="{{ path('backend_banner_index') }}" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}