
<!-- LATEST PRODUCTS -->
<section class="module-small">
    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ 'nomon.homemodel.other' | trans }}</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">
            {% for oModel in aModels %}
                <!-- SHOP ITEM -->
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="{{ asset( oModel.banner.webpath ) }}" alt="">
                            <div class="shop-item-detail">
                                <a class="btn btn-round btn-b" href="{{ path('frontend_homemodel_view',{'sHomeModel' : oModel.slug}) }}">{{ 'nomon.model.view' | trans }}</a>
                            </div>
                        </div>
                        <h5 class="shop-item-title font-alt"><a href="{{ path('frontend_homemodel_view',{'sHomeModel' : oModel.slug}) }}">{{ oModel.name }}</a></h5>
                    </div>
                </div>
                <!-- /SHOP ITEM -->
            {% endfor %}
        </div>

    </div>

</section>
<!-- /LATEST PRODUCTS -->