{% extends 'FrontendBundle:Home:base.html.twig' %}
{% block title %}{{ oHomeModel.name }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset( oHomeModel.banner.webpath ) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset( oHomeModel.banner.webpath ) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ 'nomon.basic.collection' | trans }} {{ oHomeModel.name }}</h1>
                <h5 class="mh-line-size-4 font-alt">{{ oHomeModel.name }}</h5>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- PRODUCT -->
<section class="module">

    <div class="container">

        <div class="row">

            <!-- PRODUCT IMAGES -->
            <div class="col-sm-6 m-b-sm-40 text-center">

                {% if oImagePrincipal.webpath is defined  %}
                    {#<a href="{{ asset(oImagePrincipal.webpath) }}" class="gallery">#}
                    <a class="fancybox" id="fancy-image-principal" rel="gallery1" href="{{ asset(oImagePrincipal.webpath) }}">
                        <img src="{{ asset(oImagePrincipal.webpath) }}" style="" id="image-principal" alt="">
                    </a>
                    {#</a>#}
                {% endif %}

                {#<a href="{{ asset(oImagePrincipal.webpath) }}" class="gallery">
                <img src="{{ asset(oImagePrincipal.webpath) }}" id="image-principal" alt="">
                </a>#}

                <ul class="product-gallery">
                    {% for oImage in aImages %}
                        <li>
                            {#<a href="{{  asset(oImage.webpath )  }}" class="gallery">#}
                            {##}
                            {#</a>#}
                            {#<a class="fancybox" rel="gallery1" href="{{ asset(oImage.webpath) }}">#}
                            <div class="col-sm-12 image-gallery" style="height: 68px; background-size: 110px; background-position: center;  background-repeat: no-repeat; background-image: url('{{ asset( oImage.webpath ) }}');" src="{{ asset( oImage.webpath ) }}" class="fancybox" rel="gallery1" href="{{ asset(oImage.webpath) }}">
                            </div>
                            {#</a>#}
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- PRODUCT IMAGES -->

            <!-- PRODUCT DESC -->
            <div class="col-sm-6 m-b-sm-40">

                <!-- TITLE -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="product-title font-alt">{{ oHomeModel.name }}</h1>
                    </div>
                </div>

                <!-- DESCRIPTION -->
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="description">
                            <p>
                                {{ oHomeModel.description | raw }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row m-b-20">
                    <div class="col-sm-4 mb-sm-20">
                        {% if oHomeModel.model3d.webpath is not null %}
                        <a target="_blank" href="{{ asset( oHomeModel.model3d.webpath ) }}">
                            <img src="{{ asset('bundles/frontend/images/icon_2d3d.png') }}">
                            {{ 'nomon.model.download' | trans }} 3D
                        </a>
                        {% endif %}
                    </div>

                    <div class="col-sm-4 mb-sm-20">
                        {% if oHomeModel.datasheet.webpath is not null %}
                            <a href="{{ asset( oHomeModel.datasheet.webpath ) }}" target="_blank" class="btn btn-lg btn-block btn-round btn-b">{{ 'nomon.model.datasheet' | trans }}</a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- PRODUCT DESC -->

        </div>

    </div>

</section>
<!-- /PRODUCT -->

<hr class="divider"><!-- DIVIDER -->

    {{ render(controller(
    'FrontendBundle:HomeModel:otherModel'
    )) }}

{% endblock %}


{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $( ".image-gallery" ).click(function() {
                $("#image-principal").attr('src', $(this).attr('src') );
                $("#fancy-image-principal").attr('href', $(this).attr('src') );
            });
        });
    </script>
{% endblock %}