@media (min-width:768px) {
    #image-principal {
        max-height: 300px
    }
}

@media (min-width:992px) {
    #image-principal {
        max-height: 352px
    }
}

@media (min-width:1310px) {
    #image-principal {
        max-height: 400px
    }
}

@media (max-width: 768px){
    .module,
    .module-small {
        padding: 40px 0;
        position: relative;
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #selector-idiomas{
        color: black;
        margin-top: 15px;
        margin-right: 50px;
    }
}