{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ 'nomon.title.collection' | trans }} {{ oModel.collection.name }} | {{ oModel.name }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset( oModel.banner.webpath ) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset( oModel.banner.webpath ) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ 'nomon.model.collection' | trans }} {{ oModel.collection.name }}</h1>
                <h5 class="mh-line-size-4 font-alt">{{ oModel.collection.slogan }}</h5>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- PRODUCT -->
<section class="module">

    <div class="container">

        <div class="row">

            <!-- PRODUCT IMAGES -->
            <div class="col-sm-6 m-b-sm-40 text-center">

                {% if oImagePrincipal.webpath is defined  %}
                    {#<a href="{{ asset(oImagePrincipal.webpath) }}" class="gallery">#}
                    <a class="fancybox" id="fancy-image-principal" rel="gallery1" href="{{ asset(oImagePrincipal.webpath) }}">
                        <img src="{{ asset(oImagePrincipal.webpath) }}" style="" id="image-principal" alt="">
                    </a>
                    {#</a>#}
                {% endif %}


                <ul class="product-gallery">
                    {% for oImage in aImages%}
                    <li>
                        {#<a href="{{  asset(oImage.webpath )  }}" class="gallery">#}
                            {##}
                        {#</a>#}
                        {#<a class="fancybox" rel="gallery1" href="{{ asset(oImage.webpath) }}">#}
                        <div class="col-sm-12 image-gallery" style="height: 68px; background-size: 110px; background-position: center;  background-repeat: no-repeat; background-image: url('{{ asset( oImage.webpath ) }}');" src="{{ asset( oImage.webpath ) }}" class="fancybox" rel="gallery1" href="{{ asset(oImage.webpath) }}">
                        </div>
                        {#</a>#}
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- PRODUCT IMAGES -->

            <!-- PRODUCT DESC -->
            <div class="col-sm-6 m-b-sm-40">

                <!-- TITLE -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="product-title font-alt">{{ oModel.name }}</h1>
                    </div>
                </div>

                <!-- AMOUNT >
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="price font-alt">
                            <span class="amount">£20.00</span>
                        </div>
                    </div>
                </div -->

                <!-- DESCRIPTION -->
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="description">
                            <p>
                                {{ oModel.description | raw }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- DESCRIPTION LIST-->
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            {% if oModel.box is not null and oModel.box is not empty %}<li><strong>{{ 'nomon.model.box' | trans }}:</strong> {{ oModel.box | raw }}</li>{% endif %}
                            {% if oModel.points is not null and oModel.points is not empty %}<li><strong>{{ 'nomon.model.points' | trans }}:</strong> {{ oModel.points | raw }}</li>{% endif %}
                            {% if oModel.hoop is not null and oModel.hoop is not empty %}<li><strong>{{ 'nomon.model.hoop' | trans }}:</strong> {{ oModel.hoop | raw}}</li>{% endif %}
                            {% if oModel.pendulum is not null and oModel.pendulum is not empty %}<li><strong>{{ 'nomon.model.pendulum' | trans }}:</strong> {{ oModel.pendulum | raw}}</li>{% endif %}
                            {% if oModel.timeSignals is not null and oModel.timeSignals is not empty %}<li><strong>{{ 'nomon.model.timesignals' | trans }}:</strong> {{ oModel.timeSignals | raw}}</li>{% endif %}
                            {% if oModel.mechanism is not null and oModel.mechanism is not empty %}<li><strong>{{ 'nomon.model.mechanism' | trans }}:</strong> {{ oModel.mechanism | raw }}</li>{% endif %}
                            {% if oModel.leg is not null and oModel.leg is not empty %}<li><strong>{{ 'nomon.model.leg' | trans }}:</strong> {{ oModel.leg | raw }}</li>{% endif %}
                            {% if oModel.foot is not null and oModel.foot is not empty %}<li><strong>{{ 'nomon.model.foot' | trans }}:</strong> {{ oModel.foot | raw }}</li>{% endif %}
                            {% if oModel.colors | length > 0 %}
                            <li>
                                <strong>{{ 'nomon.model.colors' | trans }}:</strong>
                                <div>
                                    {% for oColor in oModel.getColorsHtml %}
                                        <div class="color">
                                            <span style="background: {{ oColor[0] }}"></span>
                                            {{ oColor[1] }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-sm-4 mb-sm-20">
                        {% if oModel.model3d.webpath is not null %}
                        <a target="_blank" href="{{ asset( oModel.model3d.webpath ) }}">
                            <img src="{{ asset('bundles/frontend/images/icon_2d3d.png') }}">
                            {{ 'nomon.model.download' | trans }} {#<a target="_blank" href="{{ asset( oModel.model2d.webpath ) }}">2D</a>/#}3D
                        </a>
                        {% endif %}
                    </div>

                    <div class="col-sm-4 mb-sm-20">
                    {% if oModel.datasheet.webpath is not null %}
                        <a href="{{ asset( oModel.datasheet.webpath ) }}" target="_blank" class="btn btn-lg btn-block btn-round btn-b">{{ 'nomon.model.datasheet' | trans }}</a>
                    {% endif %}
                    </div>
                </div>

                <!-- CATEGORIES >
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="product_meta">
                            Categories: <a href="#">Man</a>, <a href="#">Clothing</a>, <a href="#" rel="tag">T-shirts</a>.
                        </div>
                    </div>
                </div -->

            </div>
            <!-- PRODUCT DESC -->

        </div>

    </div>

</section>
<!-- /PRODUCT -->

<hr class="divider"><!-- DIVIDER -->

{{ render(controller(
'FrontendBundle:Model:otherCollection', {'nCollectionId': oModel.collection.id}
)) }}

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $( ".image-gallery" ).click(function() {
                $("#image-principal").attr('src', $(this).attr('src') );
                $("#fancy-image-principal").attr('href', $(this).attr('src') );
            });
        });
    </script>
{% endblock %}