{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %} NOMON CLOCKS | {{ 'nomon.title.projects' | trans }} {% endblock %}

{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset(oSection.banner.webpath) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset(oSection.banner.webpath) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ oSection.title | upper }}</h1>
                <h5 class="mh-line-size-4 font-alt">{{ oSection.slogan }}</h5>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- PORTFOLIO -->
<section class="module">

    <div class="container">

        <!-- FILTER -->
        <div class="row">

            <div class="col-sm-12">
                <ul id="filters" class="filters font-alt">
                    <li><a href="#" data-filter="*" class="current">{{ 'nomon.project.all' | trans }}</a></li>
                    {% for oCategoryProject in aCategoryProject %}
                        <li><a href="#" data-filter=".{{ oCategoryProject.name }}">{{ oCategoryProject.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <!-- /FILTER -->

        <!-- WORKS GRID -->
        <div class="works-grid-wrapper">

            <div style="position: relative; height: 1196px;" id="works-grid" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                {% for oProject in aProjects %}
                <!-- PORTFOLIO ITEM -->
                <div style="height: 229px; position: absolute; left: 0px; top: 0px;" class="work-item {{ oProject.category }}">
                    <a href="{% if oProject.model is not null %} {{ path( 'frontend_model_view', { 'sModelSlug' : oProject.model.slug } ) }} {% else %}#{% endif %}">
                        <img src="{{ asset( oProject.banner.webpath ) }}" alt="">
                        <div class="work-caption font-alt">
                            <h3 class="work-title">{{ oProject.name }}</h3>
                            <div class="work-descr">
                                {{ oProject.category.name }}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <!-- /PORTFOLIO ITEM -->

            </div>

        </div>
        <!-- /WORKS GRID -->

    </div>

</section>
<!-- /PORTFOLIO -->
{% endblock %}