<!-- RELATED PROJECT -->
<section class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ 'nomon.project.related' | trans }}</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <!-- WORKS GRID -->
        <div class="row">

            <div id="works-grid" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                {% for oProject in aProjects %}
                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item design">
                        <a href="{{ path('frontend_project_view', {'nProjectId' : oProject.id }) }}">
                            <img src="{{ asset( oProject.banner.webpath ) }}" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">{{ oProject.name }}</h3>
                                <div class="work-descr">
                                    {{ oProject.category.name }}
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->
                {% endfor %}


            </div>

        </div>
        <!-- /WORKS GRID -->

    </div>

</section>
<!-- /RELATED PROJECT -->