{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %} {{ 'nomon.title.project' }} {{ oProject.name }} {% endblock %}

{% block content %}
    <!-- HERO -->
    <section class="module module-parallax bg-dark-30" data-background="{{ asset( oProject.banner.webpath ) }}">

        <!-- HERO TEXT -->
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="mh-line-size-3 font-alt m-b-20">{{ oProject.name }}</h1>
                </div>
            </div>

        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- PORTFOLIO -->
    <section class="module">

        <div class="container">

            <!-- PORTFOLIO CONTENT -->
            <div class="row">

                <div class="col-sm-12">

                    {% for oImage in aImages %}
                    <!-- IMAGE WITH CAPTION -->
                    <div class="image-caption">
                        <div class="caption-text">

                        </div>
                        <img src="{{  asset( oImage.webpath )  }}" alt="">
                    </div>
                    <!-- /IMAGE WITH CAPTION -->
                    {% endfor %}

                </div>

            </div>
            <!-- /PORTFOLIO CONTENT -->

            <!-- PROJECT DETAILS -->
            <div class="row m-t-70">

                <div class="col-md-4">
                    <ul class="project-details m-b-sm-30">
                        <li class="font-alt">Categories: <a href="#">Photography</a>,<a href="#">Design</a></li>
                        <li class="font-alt">Released: 23 November 2015</li>
                        <li class="font-alt">Online: <a href="#">www.site.com</a></li>
                        <li class="font-alt">Client: <a href="#">Mark Stone</a></li>
                    </ul>
                </div>

                <div class="col-md-8">

                    <div class="row multi-columns-row">

                        <div class="col-sm-6 col-md-6 col-lg-6 m-b-30">
                            <h5 class="font-alt m-t-0">Highly customizable</h5>
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 m-b-30">
                            <h5 class="font-alt m-t-0">Responsive design</h5>
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 m-b-30">
                            <h5 class="font-alt m-t-0">Optimised for speed</h5>
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 m-b-30">
                            <h5 class="font-alt m-t-0">Features & plugins</h5>
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /PROJECT DETAILS -->

        </div>

    </section >
    <!-- /PORTFOLIO -->

    <hr class="divider"><!-- DIVIDER -->


    {{ render(controller(
    'FrontendBundle:Project:other'
    )) }}

{% endblock %}

