<!-- ABOUT -->
<section class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">NOMON CLOCKS</h2>
                <div class="module-subtitle font-serif">
                    {{ 'nomon.home.text' | raw | trans }}
                </div>
            </div>
        </div>

        <hr class="divider"><!-- DIVIDER -->
        <section class="module">
            <!-- MODULE TITLE -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">{{ 'nomon.menu.collections' | trans }}</h2>
                </div>
            </div>
            <!-- /MODULE TITLE -->

            <div class="row multi-columns-row">

                {% for oCollection in aCollections %}
                    <!-- POST -->
                    <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                        <div class="post">
                            <div class="post-media">
                                <img src="{{ asset( oCollection.image.webpath )}}" alt="">
                            </div>
                            <div class="post-header">
                                <h5 class="post-title font-alt">
                                    {{ oCollection.name }}
                                </h5>
                            </div>
                            <div class="post-meta font-alt">
                                {% for oModel in oCollection.models %}
                                    <a href="{{ path('frontend_model_view', { 'sModelSlug' : oModel.slug }) }}">{{ oModel.name  }}</a> {% if not loop.last %}/{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- /POST -->
                {% endfor %}
                {% if oNovedadesCollection is not null%}
                    <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                        <div class="post">
                            <div class="post-media">
                                <img src="{{ asset( oNovedadesCollection.image.webpath )}}" alt="">
                            </div>
                            <div class="post-header">
                                <h5 class="post-title font-alt">
                                    {{ oNovedadesCollection.name }}
                                </h5>
                            </div>
                            <div class="post-meta font-alt">
                                {% for oModel in oNovedadesCollectionModels %}
                                    <a href="{{ path('frontend_model_view', { 'sModelSlug' : oModel.slug }) }}">{{ oModel.name  }}</a> {% if not loop.last %}/{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </section>
        <!-- BLOG 3 COLUMN -->
    </div>


</section>
<!-- /ABOUT -->