<!-- COLABORACIONES -->
<section id="portfolio" class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ 'nomon.menu.collaborations' | trans }}</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <!-- WORKS GRID -->
        <div class="works-grid-wrapper">

            <div style="position: relative; height: 210px;" id="works-grid2" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                {% for oCollaborator in aCollaborators %}
                    <!-- PORTFOLIO ITEM -->
                    <div style="height: 229px; position: absolute; left: {{ loop.index0*315 }}px; top: 0px;" class="work-item">
                        <a href="{{ path('frontend_collaborator_view', { 'sSlug' : oCollaborator.slug }) }}">
                            <img src="{{ asset( oCollaborator.logo.webpath ) }}" alt="">

                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- COLABORACIONES -->