<!-- NOMON CULTURE -->
<section id="nomonworld" class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">NOMON CULTURE</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">

            {% for oPage in aPages %}
                <!-- POST -->
                <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                    <div class="post">
                        <div class="post-media">
                            {% if oPage.slug == 'distributors' %}
                                <a href="{{ path('frontend_distributor_list') }}">
                            {% else %}
                                <a href="{{ path('frontend_page_view', { 'sSlug' : oPage.slug }) }}">
                            {% endif %}
                                <img src="{{ asset( oPage.banner.webpath) }}" alt="">
                            </a>
                        </div>
                        <div class="post-header">
                            <h5 class="post-title font-alt">
                                {% if oPage.slug == 'distributors' %}
                                <a href="{{ path('frontend_distributor_list') }}">
                                {% else %}
                                <a href="{{ path('frontend_page_view', { 'sSlug' : oPage.slug }) }}">
                                {% endif %}
                                    {{ oPage.title }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- /POST -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- /NOMON CULTURE -->