<!-- NOMON HOME -->
<a href="{{ path('frontend_home_index') }}">
    <section style="background-image: url('{{ asset(oHomeParallax.banner.webpath) }}'); height: 350px;" class="module module-parallax bg-dark-30" data-background="{{ asset(oHomeParallax.banner.webpath) }}">

        <!-- HERO TEXT -->
        <div class="container" style="margin-top: 7%;">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="mh-line-size-3 font-alt m-b-20">{{ oHomeParallax.title }}</h1>
                    <h5 class="mh-line-size-4 font-alt">{{ oHomeParallax.slogan }}</h5>
                </div>
            </div>

        </div>
        <!-- /HERO TEXT -->

    </section>
</a>
<!-- /NOMON HOME -->