<!-- PROYECTOS -->
<section id="portfolio" class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ 'nomon.menu.projects' | trans }}</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <!-- FILTER -->
        <div class="row">

            <div class="col-sm-12">
                <ul id="filters" class="filters font-alt">
                    <li><a href="#" data-filter="*" class="current">TODOS</a></li>
                    {% for oCategoryProject in aCategoryProjects %}
                        <li><a href="#" data-filter=".{{ oCategoryProject.name }}">{{ oCategoryProject.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <!-- /FILTER -->

        <!-- WORKS GRID -->
        <div class="works-grid-wrapper">

            <div style="position: relative; height: 1196px;" id="works-grid" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                {% for oProject in aProjects %}
                    <!-- PORTFOLIO ITEM -->
                    <div style="height: 229px; position: absolute; left: 0px; top: 0px;" class="work-item {{ oProject.category.name }}">
                        <a href="{% if oProject.model is not null %} {{ path( 'frontend_model_view', { 'sModelSlug' : oProject.model.slug } ) }} {% else %}#{% endif %}">
                            <img src="{{ asset( oProject.banner.webpath ) }}" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">{{ oProject.name }}</h3>
                                <div class="work-descr">
                                    {{ oProject.category.name }}
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->
                {% endfor %}

            </div>

        </div>
        <!-- /WORKS GRID -->

        <!-- SHOW MORE -->
        <div class="row m-t-70 text-center">
            <div class="col-sm-12">

                <a id="" class="btn btn-round btn-b" href="{{ path( 'frontend_project_list') }}">{{ 'nomon.home.moreprojects' | trans }}</a>

            </div>
        </div>
        <!-- /SHOW MORE -->

    </div>

</section>
<!-- /PROYECTOS -->