{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ 'nomon.title.contact' | trans }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url({{ asset('bundles/frontend/images/contacto_nomon_clocks.jpg') }});" class="module module-parallax bg-dark-30" data-background="{{ asset('bundles/frontend/images/contacto_nomon_clocks.jpg') }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ 'nomon.contactpage.title' | trans }}</h1>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- CONTACT -->
<section class="module">

    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ 'nomon.contactpage.titletext' | trans }}</h2>
                <div class="module-subtitle font-serif">{{ 'nomon.contactpage.text' | trans | raw }}</div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-sm-offset-1">
                
                <form id="contact-form" role="form" action="{{ path('frontend_frontend_send_email') }}" method="post" novalidate="">

                    <div class="form-group">
                        <label class="sr-only" for="cname">Nombre</label>
                        <input id="cname" class="form-control" name="cname" placeholder="{{ 'nomon.contactpage.name' | trans }}*" required="" data-validation-required-message="{{ 'nomon.contactpage.nameerror' | trans }}" type="text">
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="cemail">Email</label>
                        <input id="cemail" name="cemail" class="form-control" placeholder="{{ 'nomon.contactpage.email' | trans }}*" required="" data-validation-required-message="{{ 'nomon.contactpage.emailerror' | trans }}" type="email">
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="{{ 'nomon.contactpage.message' | trans }}*" required="" data-validation-required-message="{{ 'nomon.contactpage.messageerror' | trans }}"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-block btn-round btn-d">{{ 'nomon.contactpage.send' | trans }}</button>
                    </div>

                </form>

                <!-- Ajax response -->
                <div id="contact-response" class="ajax-response font-alt text-center"></div>

            </div>

            <div class="col-sm-4">

                <!-- ALT CONTENT BOX -->
                <div class="alt-content-box m-t-0 m-t-sm-30">
                    <h5 class="alt-content-box-title font-alt">
                        NOMON CLOCKS
                    </h5>
                    info@nomon.es
                    <br>
                    Tel: +34 933 186 585
                    <br>
                    Passatge Maiol, 4
                    <br>
                    08013 – Barcelona – Spain
                </div>
                <!-- /ALT CONTENT BOX -->
            </div>

        </div>

    </div>
</section>
<!-- /CONTACT -->

<hr class="divider"><!-- DIVIDER -->
{% endblock %}
{% block javascripts %}
    <script>
        (function($){

            $(document).ready(function() {

                /* ---------------------------------------------- /*
                 * Contact form ajax
                 /* ---------------------------------------------- */

                $('#contact-form').find('input,textarea').jqBootstrapValidation({
                    preventSubmit: true,
                    submitError: function($form, event, errors) {
                        // additional error messages or events
                    },
                    submitSuccess: function($form, event) {
                        event.preventDefault();

                        var submit          = $('#contact-form submit');
                        var ajaxResponse    = $('#contact-response');

                        var name            = $("input#cname").val();
                        var email           = $("input#cemail").val();
                        var message         = $("textarea#cmessage").val();

                        $.ajax({
                            type: 'POST',
                            url: '{{ path('frontend_frontend_send_email') }}',
                            dataType: 'json',
                            data: {
                                name: name,
                                email: email,
                                message: message,
                            },
                            cache: false,
                            beforeSend: function(result) {
                                submit.empty();
                                submit.append('<i class="fa fa-cog fa-spin"></i> Espere...');
                            },
                            success: function(result) {
                                if(result.sendstatus == 1) {
                                    ajaxResponse.html(result.message);
                                    $form.fadeOut(500);
                                } else {
                                    ajaxResponse.html(result.message);
                                }
                            }
                        });
                    }
                });

            });

        })(jQuery);
    </script>
{% endblock %}

