<!-- FOOTER -->
<section class="module-small bg-light">

    <div class="container">

        <!-- div class="row">
            <div class="col-sm-3">
                <!-- IMAGE OR SIMPLE TEXT >
                <img src="content/site-logo.png" alt="">
            </div>
        </div -->

        <div class="row m-t-40">

            <div class="col-sm-3">
                <h5 class="font-alt m-t-0 m-b-20">{{ 'nomon.footer.wedo' | trans }}...</h5>
                <p>{{ 'nomon.footer.wedotext' | trans }}.</p>
            </div>

            <div class="col-sm-foot">
                <div style="margin-top: -25px" >
                    <img width="20px" src="{{ asset('bundles/frontend/content/iconohome.png') }}">
                </div>
                <h5 class="font-alt m-t-0 m-b-20">{{ 'nomon.footer.furniture' | trans }}</h5>
                <ul class="list-unstyled">
                    {% for oCollection in aCollection %}
                        <li><a href="{{ path( 'frontend_collection_list' ) }}#{{ oCollection.name }}">{{ oCollection.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-foot">
                <div style="margin-top: -25px" >
                    <img width="20px" src="{{ asset('bundles/frontend/content/iconoreloj.png') }}">
                </div>
                <h5 class="font-alt m-t-0 m-b-20">{{ 'nomon.footer.clocks' | trans }}</h5>
                <ul class="list-unstyled">
                    {#<li><a href="{{ path('frontend_home_index') }}">NOMON HOME</a></li>#}
                    {% for oCollectionHome in aCollectionHome %}
                        <li>
                            <a href="{{ path("frontend_homecollection_list") }}#{{ oCollectionHome.name }}">{{ oCollectionHome.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-foot">
                <h5 class="font-alt m-t-0 m-b-20">{{ 'nomon.footer.followus' | trans }}</h5>
                <ul class="list-unstyled">
                    <li><a href="http://bit.ly/1P9MWOv" target="_blank">CLOCKS CATALOGUE</a></li>
                    <li><a href="http://bit.ly/1KPJCwL" target="_blank">HOME CATALOGUE</a></li>
                    <li><a href="http://presskit.nomon.es/" target="_blank">PRESS KIT</a></li>
                    {#<li><a href="https://twitter.com/">Twitter</a></li>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li>-</li>#}
                </ul>
            </div>
            
              <div class="col-sm-foot">
                <h5 class="font-alt m-t-0 m-b-20">{{ 'nomon.footer.contactus' | trans }}</h5>
                info@nomon.es
                <br>
                Tel: +34 933 186 585
                <br>
                Passatge Maiol, 4
                <br>
                08013 – Barcelona – Spain
                <br>-
                <ul class="list-unstyled">
                <li><a href="{{ path('frontend_page_view', { 'sSlug' : 'legal' }) }}">{{ 'nomon.footer.aviso' | trans }}</a></li>
                <li><a href="{{ path('frontend_page_view', { 'sSlug' : 'cookies' }) }}">{{ 'nomon.footer.cookies' | trans }}</a></li>
                </ul>
            </div>
            

        </div>

    </div>

</section>

<hr class="divider"><!-- DIVIDER -->

<!-- /FOOTER -->