{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ 'nomon.title.index' | trans }}{% endblock %}
{% block content %}

    <!-- SLIDER -->
    {% if oBanner.url is not null %}
        {{ oBanner.url | raw }}
    {% endif %}
    <section style="background-image: url('{{ asset( oBanner.banner.webpath) }}'); background-position: 50% 0px; height: 951px;" id="hero" class="module-hero module-parallax module-full-height bg-film" data-background="{{ asset( oBanner.banner.webpath) }}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h5 class="mh-line-size-4 font-alt m-b-50">{{ oBanner.title1 | raw }}</h5>
                <h1 class="mh-line-size-1 font-alt m-b-60">{{ oBanner.title2 | raw }}</h1>
                <h5 class="mh-line-size-5 font-alt m-b-50">{{ oBanner.title3 | raw }}</h5>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    {% if oBanner.url is not null %}
        </a>
    {% endif %}
    <!-- /SLIDER -->

    {{ include('FrontendBundle:IndexSection:models_index.html.twig') }}

    {{ include('FrontendBundle:IndexSection:divider_index.html.twig') }}

    {#{ include('FrontendBundle:IndexSection:projects_index.html.twig') }#}

    {{ include('FrontendBundle:IndexSection:divider_index.html.twig') }}

    {#{ include('FrontendBundle:IndexSection:collaborators_index.html.twig') }#}

    {#{ include('FrontendBundle:IndexSection:home_index.html.twig') }#}

    {{ include('FrontendBundle:IndexSection:culture_index.html.twig') }}

    <hr class="divider"><!-- DIVIDER -->

{% endblock %}






