{% import 'MediaBundle:Gallery:gallery.html.twig' as gallery %}
{% import 'MediaBundle:Folder:folder.html.twig' as folder %}
{% extends 'BackendBundle:Backend:base.html.twig' %}

{% block contenido -%}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Parallax
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
                        <li ><a href="{{ path('backend_parallax_index') }}">Parallaxs</a></li>
            <li class="active">Ver Parallax</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'BaseBundle:Base:flash.html.twig' -%}

        <div class="row">
            <div class="col-md-6">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ver Parallax</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Esconder"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Eliminar"><i class="fa fa-times"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        {{ form(oForm, {'attr': {'id': 'parallax-view'}} ) }}
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <a href="{{ path('backend_parallax_index') }}" class="btn btn-default">Volver al Listado</a>
                        <a href="{{ path('backend_parallax_edit', { 'nParallaxId':  oParallax.id }) }}"  class="btn btn-primary pull-right">Editar</a>
                    </div>
                </div><!-- /.box -->

            </div>
            <div class="col-md-6">
                {{ gallery.render(oParallax) }}
                {{ folder.render(oParallax) }}
            </div>
        </div>

    </section><!-- /.content -->

</div><!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#parallax-view input").attr('readonly', 'readonly');
            $("#parallax-view input").attr('disabled', 'disabled');
            $("#parallax-view textarea").prop('disabled', 'disabled');
            $("#parallax-view select").prop('disabled', 'disabled');

            $(".textarea").wysihtml5({

                "toolbar": {
                    "image": false,
                    "html" : true,
                    "blockquote": false,
                    "link": false
                },
                "locale": 'es-ES'

            });

        });
    </script>
    {{ gallery.javascripts(oParallax) }}
    {{ folder.javascripts(oParallax) }}
{% endblock %}
