{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ 'nomon.title.collaborations' | trans }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset(oSection.banner.webpath) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset(oSection.banner.webpath) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ oSection.title | upper }}</h1>
                <h5 class="mh-line-size-4 font-alt">{{ oSection.slogan }}</h5>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- PORTFOLIO -->
<section class="module">

    <div class="container">

        <!-- WORKS GRID -->
        <div class="works-grid-wrapper">

            <div style="position: relative; height: 1196px;" id="works-grid" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                {% for oCollaborator in aCollaborators %}
                <!-- PORTFOLIO ITEM -->
                <div style="height: 229px; position: absolute; left: 0px; top: 0px;" class="work-item hogar">
                    <a href="{{ path('frontend_collaborator_view', { 'sSlug' : oCollaborator.slug }) }}">
                        <img src="{{ asset( oCollaborator.logo.webpath ) }} " alt="">
                        <div>
                            {#<h3 class="work-title">{{ oCollaborator.name }}</h3>#}
                        </div>
                    </a>
                </div>
                <!-- /PORTFOLIO ITEM -->
                {% endfor %}

            </div>

        </div>
        <!-- /WORKS GRID -->

    </div>

</section>
<!-- /PORTFOLIO -->
{% endblock %}

