{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %} {{ oCollaborator.name }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset( oCollaborator.banner.webpath ) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset( oCollaborator.banner.webpath ) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ oCollaborator.name }}</h1>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- PRODUCT -->
<section class="module">

    <div class="container">

        <div class="row">

            <!-- PRODUCT IMAGES -->
            <div class="col-sm-6 m-b-sm-40 text-center">

                {% if oImagePrincipal.webpath is defined  %}
                    {#<a href="{{ asset(oImagePrincipal.webpath) }}" class="gallery">#}
                    <a class="fancybox" id="fancy-image-principal" rel="gallery1" href="{{ asset(oImagePrincipal.webpath) }}">
                        <img src="{{ asset(oImagePrincipal.webpath) }}" id="image-principal" alt="">
                    </a>
                    {#</a>#}
                {% endif %}

                <ul class="product-gallery">
                    {% for oImage in aImages %}
                    <li>
                        <div class="col-sm-12 image-gallery" style="height: 68px; background-size: 110px; background-position: center;  background-repeat: no-repeat; background-image: url('{{ asset( oImage.webpath ) }}');" src="{{ asset( oImage.webpath ) }}" class="fancybox" rel="gallery1" href="{{ asset(oImage.webpath) }}">
                        </div>
                        {#<div class="col-sm-12 image-gallery" style="height: 68px; background-size: 80px; background-image: url('{{ asset( oImage.webpath ) }}');" src="{{ asset( oImage.webpath ) }}" class="fancybox" rel="gallery1" href="{{ asset(oImage.webpath) }}">
                        </div>#}
                        {#<a href="{{  asset(oImage.webpath )  }}" class="gallery">
                            <img class="image-gallery" src="{{ asset( oImage.webpath ) }}" alt="">
                        </a>#}
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- PRODUCT IMAGES -->

            <!-- PRODUCT DESC -->
            <div class="col-sm-6 m-b-sm-40">

                <!-- TITLE -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="product-title font-alt">{{ oCollaborator.name }}</h1>
                    </div>
                </div>

                <!-- AMOUNT >
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="price font-alt">
                            <span class="amount">£20.00</span>
                        </div>
                    </div>
                </div -->

                <!-- DESCRIPTION -->
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="description">
                            <p>
                                {{ oCollaborator.description | raw }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- PRODUCT DESC -->

        </div>

    </div>

</section>
<!-- /PRODUCT -->

<hr class="divider"><!-- DIVIDER -->
{#
{{ render(controller(
'FrontendBundle:Project:other'
)) }}
#}

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $( ".image-gallery" ).click(function() {
                $("#image-principal").attr('src', $(this).attr('src') );
                $("#fancy-image-principal").attr('href', $(this).attr('src') );
            });
        });
    </script>
{% endblock %}