{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ 'nomon.title.distributors' | trans }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset(oSection.banner.webpath) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset(oSection.banner.webpath) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ oSection.title | upper }}</h1>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- SLOGAN -->
<section class="module">

    <div class="container">

        <div class="row">

            <div class="module-subtitle.p font-serif" style="width:45%; margin-left:auto;margin-right:auto;text-align:center">
                <p>{{ oSection.slogan | trans | raw }}</p>
            </div>

            <hr class="divider">

        </div>

    </div>

</section>

<!-- /SLOGAN -->

<!-- PORTFOLIO -->
<section id="portfolio" class="module">

    <div class="container">

        <!-- WORKS GRID -->
        <div class="works-grid-wrapper">

            <div style="position: relative; height: 1196px;" id="works-grid" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                {% for oDistributor in aDistributors %}
                <!-- PORTFOLIO ITEM -->
                <div style="height: 229px; position: absolute; left: 0px; top: 0px;" class="work-item">
                    <a href="#.html" style="cursor: default">
                        <img src="{{ asset( oDistributor.banner.webpath ) }} " alt="">
                        <div class="work-caption font-alt">
                            <h3 class="work-title">{{ oDistributor.city }}</h3>
                            <div class="work-descr">
                                {{ oDistributor.country }}
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /PORTFOLIO ITEM -->
                {% endfor %}

            </div>

        </div>
        <!-- /WORKS GRID -->

    </div>

</section>
<!-- /PORTFOLIO -->
{% endblock %}