{% extends 'FrontendBundle:Frontend:base.html.twig' %}
{% block title %}NOMON CLOCKS | {{ 'nomon.title.collections' | trans }}{% endblock %}
{% block content %}
<!-- HERO -->
<section style="background-image: url('{{ asset(oSection.banner.webpath) }}');" class="module module-parallax bg-dark-30" data-background="{{ asset(oSection.banner.webpath) }}">

    <!-- HERO TEXT -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mh-line-size-3 font-alt m-b-20">{{ oSection.title | upper }}</h1>
                <h5 class="mh-line-size-4 font-alt">{{ oSection.slogan }}</h5>
            </div>
        </div>

    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

{% for oCollection in aCollection %}
    <!-- ABOUT -->
    <section class="module">


        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt" id="{{ oCollection.name }}">{{ oCollection.name }}</h2>
                </div>
            </div>
            <!-- /MODULE TITLE -->

            <div class="row multi-columns-row">

                {% for oModel in oCollection.models %}
                <!-- POST -->
                <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                    <div class="post">
                        <div class="post-media">
                            <a href="{{ path('frontend_model_view',{ 'sModelSlug' : oModel.slug }) }}">
                                <img src="{{ asset( oModel.banner.webpath ) }}" alt="">
                            </a>
                        </div>
                        <div class="post-header">
                            <h5 class="post-title font-alt">
                                <a href="{{ path('frontend_model_view',{ 'sModelSlug' : oModel.slug }) }}">{{ oModel.name }}</a>
                            </h5>
                        </div>
                        <div class="post-meta font-alt">

                        </div>
                    </div>
                </div>
                <!-- /POST -->
                {% endfor %}

            </div>
        </div>


    </section>
    <!-- BLOG 3 COLUMN -->

    <hr class="divider"><!-- DIVIDER -->
{% endfor %}

    {% if oNovedadesCollection is not null%}
        <!-- ABOUT -->
        <section class="module">


            <div class="container">

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt" id="{{ oNovedadesCollection.name }}">{{ oNovedadesCollection.name }}</h2>
                    </div>
                </div>
                <!-- /MODULE TITLE -->

                <div class="row multi-columns-row">

                    {% for oModel in oNovedadesCollectionModels %}
                        <!-- POST -->
                        <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                            <div class="post">
                                <div class="post-media">
                                    <a href="{{ path('frontend_model_view',{ 'sModelSlug' : oModel.slug }) }}">
                                        <img src="{{ asset( oModel.banner.webpath ) }}" alt="">
                                    </a>
                                </div>
                                <div class="post-header">
                                    <h5 class="post-title font-alt">
                                        <a href="{{ path('frontend_model_view',{ 'sModelSlug' : oModel.slug }) }}">{{ oModel.name }}</a>
                                    </h5>
                                </div>
                                <div class="post-meta font-alt">

                                </div>
                            </div>
                        </div>
                        <!-- /POST -->
                    {% endfor %}

                </div>
            </div>


        </section>
        <!-- BLOG 3 COLUMN -->

        <hr class="divider"><!-- DIVIDER -->
    {% endif %}


{% if oModel is defined %}
    {{ render(controller(
    'FrontendBundle:Model:otherCollection', {'nCollectionId': oModel.collection.id}
    )) }}
{% else %}
    {{ render(controller(
    'FrontendBundle:Model:otherCollection'
    )) }}
{% endif %}

{% endblock %}